/* ------------------------------------------------------------------------- barvy
                             tmavá   světlá  jasná      krémová světlá      krémová tmavá
                    zelená   #406403 #BDE37B             #cadfd9             #67827a;
                    hnědá    #b48933 #f5cf85 #fff4de
                    modrá    #6470A7 #D1D6EC
                    šedá     #130D00
*/

/* ------------------------------------------------------------------------- ladění */

#info { position:fixed; background-color: #67827a;; color:#F5CF85;
  display:none; z-index:9; font-size:7pt !important; }
#info * { font-size:7pt !important; }
div.fb_iframe_widget { margin:.5em;}
div.code { position: absolute; background-color: rgba(255, 255, 255, 0.77); z-index:15;
  color: black; border:1px dotted black; border-radius: 5px; cursor: pointer; margin-top:-5px; }

/* -------------------------------------------------------------------------- css */

div.Label { color:grey; }
div.LabelDrop { outline: 3px solid #cadfd9; background-color:#cadfd9; }

/* -------------------------------------------------------------------------- média */

[data-oembed-url] { width: 65%; margin:0 auto; }

/* -------------------------------------------------------------------------- layout */
/* podle https://chrisbracco.com/css-sticky-footer-effect/ ??? */

html { height:100%; width:100%; }
body { /*overflow-y:auto;*/ font-family: 'Open Sans', sans-serif; overflow-x:hidden; margin: 0; min-height: 100%; width: 100vw; font-size:10pt; overflow: overlay; background: white; color: #686868}
/* background: #f2f2f2; */

/*Container stretches to the webpage width, used for main page layout*/
.container { width: 100vw; position: relative; padding-bottom: 30px; }
.content { max-width: 1220px; margin: 0 auto;  }
#menu .content {padding: 0 12px}
.inner_container {display: flex; flex-direction: column;}

/*Same as above for divs inside class content, first uses the full web width, second will center the content*/
.full_width {width: 100vw;position: relative;left: 50%;right: 50%;margin-left: -50vw;margin-right: -50vw;}
.centered_infull { text-align: center;display: block !important;}
.crop_content {max-width: 1220px;margin: 0 auto !important;}

/*Responsive iframe*/
.iframe_outer {position: relative;overflow: hidden;padding-top: 30%;}
.iframe_inner {position: absolute;top: 0;left: 0;width: 100%;height: 100%;border: none; max-width: 600px}

/*Because iOS is great... is it? //fixes stupid iOS (no)support for date input field*/
input[type="date"]
{display:block;-webkit-appearance: textfield;-moz-appearance: textfield;min-height: 1.2em;}

/*remove table cellpadding/cellspacing*/
table {border-collapse: collapse;}
th {padding: 0;}
td {padding: 2px 8px;}

/*Table for articles*/
table.table1 {border: none; margin: 0 auto !important;}
table.table1 th {background: #89b3cc; font-weight: bold;}
table.table1 tr:nth-child(even) {background: #e0e0e0}
table.table1 tr:nth-child(odd) {background: #FFF}

table.table2 {border: 1px solid; margin: 0 auto !important;}
table.table2 th {background: #89b3cc; font-weight: bold;}
table.table2 td {border-left: 1px solid; border-right: 1px solid;}

table.table3 {border: 1px solid; margin: 0 auto !important;}
table.table3 th {background: #89b3cc; font-weight: bold;}
table.table3 td {border: 1px solid;}



#page { margin: 0 auto; }
#work {  }
a.mereni { float:right; }


h1#ymca_setkani { position: absolute; top:3.8em; margin-left:.5em; font-size: 12pt;
    font-weight:bold; color:#cadfd9; text-shadow: 3px 3px 3px #000; }

/* patička */
.footer { clear: both; background: #232323; }
.footer a { color : #9ad6f9;  }
.footer h3 { font-size: 15px; color: white; font-weight: 600; }
.footer .tile { width: 225px; display: inline-block;  margin: 1px; vertical-align:top; font-size: 11pt !important; padding: 10px 15px; font-weight: normal  }
.footer .tile p {text-align: left; color: #9ad6f9;}
.footer hr.footer-hr { border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3); margin: 0px 160px 0px 60px;}
.footer #footer-left-part img { transform: translate(0, 3px); -ms-transform: translate(0, 3px);-moz-transform: translate(0, 3px); width: 15px !important; margin: 0 !important;}
.footer .organizations img {}
.footer .organizations p {display: inline-block !important;}
.footer #footer-left-part {width: 70%; display: inline-block; vertical-align: top; min-width: 640px;}
.footer #footer-right-part {width: 20%; display: inline-block; vertical-align: top; min-width: 150px;}
.footer #footer-right-part p  {text-align: center;width: 100%;}
.footerIcon {margin: 0 !important;}
#page_footer_info {     background: #060a2d;
  background-position: top;
  background-size: cover;
  background-image: url(img/mars_venuse.jpg);
  background-repeat: no-repeat;}
#page_footer_bar {padding-top: 14px; padding-bottom: 14px;}
#page_footer_bar:after {content: ''; clear: both; display: block;} /*makes the div to stretch to contain floating children*/


#site_signature {float: right}

/* obecné, písmo */

#web { margin-bottom: 0 !important; padding-bottom: 0 !important; }
#web.web_home     { }
#web.web_kontakty { background-position-x:-860px; }
#web.web_hledej   { background-position-x:-660px; }
#web.web_akce     { background-position-x:-460px; }
#web.web_dum      { background-position-x:-1060px; }
#web.web_foto     { background-position-x:-160px; }
#web.web_libr     { background-position-x:-60px; }
#web.web_my       { background-position-x:+160px; }
div, span {font-size:12pt}
input, form, button {font-family: 'Open Sans', sans-serif !important; font-size:12pt}
p {text-align: justify}

h1, #web h2,h3 { -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; column-break-inside: avoid; }
/*styled <a> tags, inside all div#vlakno but not when class .plain_href present; and all with a.styled*/
#vlakno a:not(.plain_href), a.styled { color: #883434; padding: 0 4px; font-weight: bold;}
#vlakno a:hover:not(.plain_href), a.styled:hover { color: white; background: #883434; border-radius: 5px;}
#vlakno a:visited:not(.plain_href), a.styled:visited { color: #848483; background: #848483; border: 1px solid #848483; }
#vlakno a:visited:hover:not(.plain_href), a.styled:visited:hover { color: white;}
#web img {margin:.5em;height:auto !important;max-width:100%;}
#web .abstr img {margin: 0 5px 0 0}

/*H tags management*/
#vlakno h2.vlakno-title {
  margin-top: 22px;
  font-size: 22pt;
  margin-left: 0.8em;
}
#vlakno h2.vlakno-titler {
  margin-top: 30px;
  margin-bottom: 8px;
  font-size: 28pt;
  margin-left: 0.8em;
}
#vlakno h2 {
  margin-top: 0;
  font-size: 17pt;
  margin-left: 0.5em;
}
#vlakno h3 {
  margin-top: 0;
  font-size: 16pt;
  margin-left: 0.5em;
}

hr {height: 3px;border: none; background: #f2f2f2;}
div.pquote hr, div.notice_style hr {height: 0;}
.akce_prehled hr {background: #ccd2d9;}
hr.dark {background: #adb2b8;}

div.pquote {position: relative !important; padding: 10px 50px;margin: 0 auto; clear: both; width: fit-content; max-width: 85%; overflow: hidden}
div.pquote:before {content: '”'; position: absolute; font-size: 50px;font-family: serif;left: 13px;bottom: -7px; color: grey;}
div.pquote:after {content: '“'; position: absolute; font-size: 50px;font-family: serif;right: 13px; top: 7px; color: grey;}

div.notice_style {position: relative!important; padding: 35px 50px 10px 50px; margin: 5px 10px; clear: both}
div.notice_warning {background-color: #f4d778; }
div.notice_warning:before {content: 'Upozornění:';position: absolute;left: 20px;top: 10px;color: #a78208;font-weight: bold;}
div.notice_info {background-color: #d7f192; }
div.notice_info:before {content: 'Zajímavost:';position: absolute;left: 20px; top: 10px; color: #618011; font-weight: bold;}
div.notice_order:before {content: 'Objednávka'}

h1 {margin-top: 45px; font-size:29pt; margin-left: 0.3em; font-weight: 200; color: black}
h2 {margin-top: 30px; font-size:20pt; margin-left: 0.8em; font-weight: 300; color: black; margin-bottom: 12px; }
h3 {margin-top: 25px; font-size:17pt; margin-left: 0.1em; font-weight: 300; color: black}
h4 {margin-left: 0.1em; color: black}

.abstrakt h2 { font-size: 14pt;margin: 0 0 0 10px;}
.abstrakt h3, .abstrakt h4 {font-weight: 600;}

.clear { clear:both; }
.center { position: relative; display: block; margin: 0 auto; }
.inline { display: inline-block; }
.float-right { float: right; }
.float-left { float: left; }
.block {display: block;}
.white { color:white; }
.bg_white {background: white;}
.no_padding\! {padding: 0 !important;}
.relative { position: relative; }
.display {display: initial;}
.nodisplay {display: none; }
.clickable {cursor: pointer;}
.bold {font-weight: bold;}
.image-align-right {float: right;margin-left: 20px;}
.image-align-left {float: left;margin-right: 20px;}
.image-align-center {text-align: center; margin-block-start: 0; margin-block-end: 0}
.image-align-center > figure {display: inline-block;}.h7 {padding: 0.2em 0.3em; font-weight: bold; display: block} /*smallest title level*/
.status_cancelled:before {content: url('img/cancelled.png'); position: absolute; right: 0; top: 3px}
.status_full:before {content: url('img/full.png'); position: absolute; right: 0; top: 3px}
.status_chlapi:before {content: url('img/maly_kriz.png'); position: absolute; right: -4px; top: -2px; transform: scale(0.7);}
.commentary_div {margin-bottom: 40px;}
ul#timeline li .status_full:before {transform:scale(0.8); -ms-transform:scale(0.8); -moz-transform:scale(0.8); right:-103px; top: -22px; }

.hr-text {line-height: 1em;position: relative;outline: 0;border: 0;color: black;text-align: center;height: 1.5em;opacity: .5;}
.hr-text:before {content: '';position: absolute;left: 0;top: 35%;width: 100%;height: 7px;background: #ccd2d9;}
.hr-text:after {content: attr(data-content);position: relative;display: inline-block;padding: 0 .5em;line-height: 1.5em;
   background: #f2f2f2;} /*color of the underlying background*/
textarea {resize: vertical;}
#web-shadow {position: fixed; top: 0; width: 100vw; height: 100%; background: black;
  opacity: 0.55; z-index: 99; display:none;}

/* tabulky */

#clanek table { border-collapse: collapse; }
#clanek td { border:1px solid silver; }
#clanek th { border:1px solid silver; background:silver; }

/*scrollbar*/
::-webkit-scrollbar {width: 8px; height: 8px;margin-right: 5px; background: transparent;}
::-webkit-scrollbar-track {background: transparent; margin: 10px 0;}
::-webkit-scrollbar-thumb {background: #888; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover {background: #555;}


::-webkit-scrollbar-track-piece
{
  background-color: transparent;
  -webkit-border-radius: 6px;
}


/* ------------------------------------------------------------------- anchor */
/* USE: add span <span class='anchor' id='desired_id'></span> to the element to point to
        ! parent of the span must be relative in its position

        point to the anchor using: url#desired_id */
.anchor{top: -100px; position: absolute; }

/* ------------------------------------------------------------------- facebook */

.facebook {background: #bacddc;}
#facebook_content:before {content: "\f09a"; font-family: FontAwesome, serif; color: #ffffff;
  font-size: 60px; vertical-align: middle; position: absolute; transform: translate(-100px, 10px);
  -ms-transform: translate(-100px, 10px);-moz-transform: translate(-100px, 10px);}

/* ------------------------------------------------------------------- online přihlášky */


#vlakno fspan.cms_form:hover {
  background-color: #28688d !important; color: white !important; }

span.cms_form {
  float:right; font-size:10pt !important; display: inline-block; border: 3px solid #28688d;
  padding: 0.2em 0.4em; font-weight: bold; text-decoration: none;
  margin-top: -5px; margin-right: -10px; color: #28688d; text-align: center; line-height: 11px; }

.clanek span.cms_form {font-size:15pt !important; margin-top: 15px; margin-right: 15px; line-height: 18px; cursor: pointer; padding-top: 6px; }
.abstrakt span.cms_form {font-size:10pt !important; margin-top: -5px; margin-right: -4px; line-height: 11px; padding-top: 4px; }
/* ----------------------------------------------------------------------------- popup */
#popup { position: fixed;
  left: 50%; top: 50%; margin-top: -250px;margin-left: -375px;width: 720px;height: fit-content; height: -moz-max-content;
  background: white;
  color: #000000;max-height: 500px;padding: 1.5em 1em 1em 1em;box-shadow: #000000 4px 6px 20px;z-index: 100; overflow-y: scroll; }
#popup > span { position:absolute; top:0em; left:0em; width:100%; text-align:center; height:2em;
  font-weight:bold;line-height:28pt;}
#popup > div { top:2em; height:100%; overflow:auto; text-align: center; }
#popup_div { padding-top: 1em; }
#popup_bot { margin-top:-3.6em; height:1.4em !important; padding-top:0.2em; padding-bottom: 10px;
  z-index:3; position:relative; }
.popup_close {float: right;margin-top: -12px;cursor: pointer;}
/* -------------------------- ------------------------------------------------- login */

div#user_login, div#user_mail { position:fixed; left: 50vw; top:50vh; line-height: 22pt;
  padding:2em 5em; opacity:1; background: white;
  box-shadow: black 4px 6px 20px; transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);
  -moz-transform:translate(-50%, -50%); z-index: 100; }
div#user_login input, div#user_mail input { width:20.5em;
  padding: 12px 0px 12px 0; margin-bottom: 15px; margin-right: 10px; outline: 0; border: 0; box-shadow: 0 1px 0 0 #e5e5e5; }
div#user_login input:focus, div#user_mail input:focus {box-shadow: 0 2px 0 0 #67827a;;}

div#user_mail #pin {width: 5em;}

div#user_mail div { margin-top: 1.6em; line-height: 1.3em; height:2.4em; width:29em; margin-bottom: 1em; color: black; }
div#user_login span, div#user_mail span { position:absolute; top:0.8em; left: 0; width:100%; text-align:center; height: 2em;
  font-weight:bold; font-size: 20px; color: black;}
div#user_login button, div#user_mail button { float: right; cursor: pointer; border: 1px solid; background: white; color: black; padding: 9px 13px 8px 13px;
  margin: 10px 7px; text-decoration: none; font-size: 15px;}
div#user_login button:hover, div#user_mail button:hover { border: 1px solid #ffffff; background: black; color: white;}
#fe_login { margin-left:3em; }
div#user_login.key_in { background-color:#000 !important; color: white !important; }
div#user_login.key_in input { background-color:#000 !important; color: white !important; }
div#user_login.key_in span {color: white !important; }
div#login_err { color: #b13939; margin-top: 12px;}

/* -------------------------- ------------------------------------------------- box */
div.box {
  position:fixed; left:50%; top:50%;  transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);  line-height: 2em;
  color:black; border-radius:.4em; padding: 1em 1em 0 1em; box-shadow: black 4px 6px 20px;
  background: white;}
div.box_title { position:absolute; top:0; left:0; width:100%; text-align:center; height: 2em;
  background:black; border-radius:.4em .4em 0 0; color:white; font-weight:bold; }
div.box_text { margin-top:2em; line-height:1.2em; }
div.box_ok { text-align:center; padding:.5em; }
div.box_ok button { position:relative; border: 1px solid;padding: 3px 14px;color: black; }
div.box_input { padding:2em 0 1em; }

/* -------------------------- ------------------------------------------------- user_msg */

#user_msg {position: fixed;left: 50vw;top: 50vh;margin-left: -200px;margin-top: -10vh;line-height: 22pt;
  width: 350px;padding: 1em 2em;opacity: 1;background: white;box-shadow: #9e9c9c 0 0 20px;z-index: 101;border-radius: 12px;}
#user_msg span {position:absolute; top:0.8em; left:0; width:100%; text-align:center; height: 2em;font-weight:bold; font-size: 20px; ;}
#user_msg div {margin-top:2em; line-height:1.2em; }
#user_msg button {float: right; cursor: pointer; border: 1px solid; background: white;
  padding: 9px 13px 8px 13px; margin: 10px 7px; text-decoration: none; font-size: 15px;}

/* ----------------------------------------------------------------- images gallery */

#titler {position: absolute; top: 0; width: 400px; height: 250px;
    background-image: url(/cms/img/cover.png); background-size: cover; right: 55vw; }
#titler:before  {content:''; width: 30vw; height: 250px; position: absolute; top: 0; left: -30vw; background: #cadfd9;}
#header_gallery {
  position:relative; width: 80vw; margin-left: 20vw; height: 250px; overflow: hidden; z-index: -1;background: #cadfd9; }
#gallery_shadow { position:absolute; top:0; left:0; width: 100vw; height: 250px;
  opacity: 0; box-shadow: black 0 0 0 100vw inset; }
#header_gallery img { z-index: 1; position:absolute; width: 100%; overflow: hidden; }
#header_gallery img.act{ z-index:3; }

/*mobile version - one image only*/

#header_mobile_image { position: absolute;width: 100vw;height: 450px; background-position: center;background-size: cover; z-index: 0; filter: blur(0.7px);}
#header_mobile_image_shadow {width: 100%; height: 100%;background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0), rgb(255 255 255));}
/* --------------------------------------------------------------------------- menu */
/*animations*/
@-webkit-keyframes select-menu{ from {background-color: white;} to {background-color: #cadfd9;}  }
@keyframes select-menu { from {background-color: white;} to {background-color: #cadfd9;} }

#mobile_menu {display: none}
#mobile_submenu {background: #f0f5f4;padding-left: 20px;}

#menu { line-height: 0; width: 100vw; background-color: white; padding-bottom: 0; box-shadow: 0 1px 2px 0 #e1e5ea;}
#menu.fixed { position: fixed; top: 0px; z-index: 9;}



#bar_items {position: absolute;left: -150px;transition: all .3s ease; z-index: 20;opacity: 0; color: rgba(0, 0, 0, 0.55);
  height: 0;overflow: hidden;visibility: hidden;display: block;transform: translateY(40px);-ms-transform: translateY(40px);
  -moz-transform: translateY(40px);margin: 0;background: white;
  padding: 0;width: 14em;box-shadow: 0 2px 4px -2px rgb(0 0 0 / 10%), 0 4px 15px 0 rgb(0 0 0 / 10%);
  text-align: left;border-radius: 2px;}
#bar_items.is-open  {visibility: visible;height: auto;transform: translateY(0px);-ms-transform: translateY(0px);
  -moz-transform: translateY(0px);opacity: 1;
  animation-name: submenu-animation;animation-duration: 0.2s;}
#bar_items span {    display: block;
  position: relative;
  width: 100%;
  line-height: 3;
  padding-left: 9px;}
#bar_items span:hover {
  color: rgba(0, 0, 0, 0.90);
  background-color: rgb(248, 248, 248);
}


/*#bar_items span   { margin:0; padding: .5em; display: block; text-align:left; }*/
/*#bar_items span.separator   { border-top:1px solid #999; }*/
/*#bar_items span:hover   { background-color:#cadfd9; }*/
#bar_items img { margin:0; }

.jump { display:inline-block; font-weight:bold; text-decoration:none;cursor: pointer;}
div.LabelDrop * {cursor:pointer; }


/* top menu */
#page_tm { float: right; text-align:right; padding-right:.4em; height: 4.3em; line-height: 4.3em; }
#page_tm a {position: relative}
#page_tm input {width:10em; border: none; padding: 6px 10px; outline: none; font-size: 13pt; font-weight: 300;
  display: inline-block; margin-top: 13px; margin-right: 12px; background: inherit}
#page_tm a.jump { vertical-align: top; }
#page_tm a span {padding: 22px 0; margin: 0 6px}
#page_tm #bar_menu { float:right; font-size:1.5em !important; width:1.2em; cursor:pointer; position: relative  }

/*search bar*/
.header-search {display: inline-block;position: relative;padding-right: 25px;padding-left: 5px;}
.header-search button.search-submit {overflow: hidden;box-shadow: none;margin-left: -40px;background: 0 0;color: #6d6d6d;line-height: 0;
  padding: 0 .7em;min-height: auto;cursor: pointer;max-width: 100%;border: none;font-weight: bolder;
  text-transform: uppercase;display: inline-block;position: absolute;top: 28px;outline: none;}
.header-search .search-icon {transform: translate(10px, 5px);-ms-transform: translate(10px, 5px);-moz-transform: translate(10px, 5px);
  line-height: 0;display: inline-block;position: relative;
  box-shadow: none;color: rgba(0,0,0,.55);cursor: pointer;}
.header-search .hidden-label-text {clip: rect(1px,1px,1px,1px);position: absolute!important;
  height: 1px;width: 1px;overflow: hidden;word-wrap: normal;}
.header-search input#search {display: block;width: 210px;border-radius: 2px;height: 2.4em;color: #282828;
  margin-top: 0;border: 1px solid #e5e5e5;box-shadow: 0 1px 2px rgb(0 0 0 / 12%) inset;padding: 0 .75em;max-width: 100%;
  vertical-align: middle;}
.header-search .search-icon svg {width: 18px;height: 18px;}
.header-search .search-icon:hover {color: rgba(0,0,0,.88);}
.header-search .search-form {border: 1px solid #eaecee;padding: 1.25em;background: #fff;width: 235px;position: relative;
  box-shadow: 0 3px 30px rgb(25 30 35 / 10%);}
.header-search .header-search-container {position: absolute;right: 0;height: 0;
  display: block;overflow: hidden;margin-top: -7px;transition: all 0.2s linear;top:100%;
  transform: translateY(25px);-ms-transform: translateY(25px);-moz-transform: translateY(25px);}
.header-search.active .header-search-container {height: auto;overflow: initial;z-index: 26;top: auto;
  transform: translateY(0px);-ms-transform: translateY(0px);-moz-transform: translateY(0px);
}
.header-search .header-search-container::before {border-top: 1px solid #eaecee;border-left: 1px solid #eaecee;
  background: #fff;content: "";position: absolute;top: -8px;right: 15px;width: 15px;height: 15px;
  transform: rotate(45deg);-ms-transform: rotate(45deg);-moz-transform: rotate(45deg);z-index: 27;}



/* main menu */
#menu ul.menu_hm {list-style: none;padding: 0;margin: 0;}
#menu ul.menu_hm li {margin-top: 0;margin-right: 5px;margin-bottom: 0;margin-left: 5px;display: inline-block;position: relative;}
#menu ul.menu_hm>li>a, #page_tm a {height: 100%; color: black; text-transform: uppercase;font-weight: 600; letter-spacing: 0.2px;}

#menu ul.menu_hm>li>a:before, #page_tm a:before {position: absolute;bottom: 0;height: 6px;width: 0;left: 0;background-color:
        transparent;content: "";transition: all .3s ease;display: block !important;}
#menu ul.menu_hm>li>a:hover:before { /*hover not working on home button*/width: 100%;background-color: #cadfd9;}
#menu ul.menu_hm>li>a.active:before, #page_tm a.active:before {width: 100%;background-color: #cadfd9;}

#menu #page_hm { float: left; text-align:left; height: 4.3em; line-height: 4.3em; }
#menu #page_hm a span {padding: 22px 0; margin: 0 8px 0 7px}

/* sub menu */
#menu ul.menu_hm li ul.menu_sm {position: absolute;left: 0;transition: all .3s ease; z-index: 99;opacity: 0;
  height: 0;overflow: hidden;visibility: hidden;display: block;top: 100%;
  transform: translateY(40px);-moz-transform:translateY(40px);-ms-transform:translateY(40px);margin: 0;
  padding: 0;width: 14em;background: #ffffff; box-shadow: 0 2px 4px -2px rgb(0 0 0 / 10%), 0 4px 15px 0 rgb(0 0 0 / 10%);
  text-align: left;border-radius: 2px;}
#menu ul.menu_hm li:hover ul.menu_sm {visibility: visible;height: auto;
  transform: translateY(0px);-ms-transform:translateY(0px);-moz-transform:translateY(0px);opacity: 1;
  animation-name: submenu-animation;animation-duration: 0.2s;}
#menu ul.menu_hm li ul.menu_sm li {margin-top: 0;margin-right: 5px;margin-bottom: 0;margin-left: 0;display: block;
  position: relative;width: 100%;}

#menu ul.menu_hm li ul.menu_sm li a {
  display: block;
  width: 100%;
  padding: 9px 15px;
  transition: background 0.15s ease-out;
  color: rgba(0, 0, 0, 0.55);
  font-size: 0.9em;
  line-height: 1.5;
  text-decoration: none;
}

#menu ul.menu_hm li ul.menu_sm li a:hover {
  color: rgba(0, 0, 0, 0.90);
  background-color: rgb(248, 248, 248);
}

#menu ul.menu_hm li ul.menu_sm li a.active {
  color: rgba(0, 0, 0, 0.90);
  border-bottom: none;
}

/* mobile menu */

#mobile_menu {overflow-y: auto;overflow-x: hidden;color: white;padding: 0;position: fixed;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 40%);width: 360px;max-width: 100%;top: 0;z-index: 999900;min-height: 100%;
  left: -360px;display: block;transition: left 600ms cubic-bezier(1, 0, 0, 1);background: rgba(0, 0, 0, 0.9);}
#mobile_menu.is-open {z-index: 999900;height: 100vh;transform: translate3d(0, 0, 0);left: 0;}
#mobile_menu a.jump {display: block}
#mobile_menu ul.menu_hm {margin: 35px 0 0 0;list-style: none;padding: 0;}
#mobile_menu.is-open ul.menu_hm>li, #mobile_menu.is-open #mobile_barmenu span {
  transform: translateY(0); -ms-transform: translateY(0); -moz-transform: translateY(0);opacity: 1;}
#mobile_menu ul.menu_hm>li, #mobile_barmenu span {
  margin: 0;list-style: none;position: relative;border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  display: block;transform: translateY(35px);-ms-transform: translateY(35px); -moz-transform: translateY(35px);
  opacity: 0;transition: all 0.5s cubic-bezier(1, 0, 0.5, 1);transition-delay: 0.1s;}
#mobile_menu ul.menu_hm>li>a {
  color: rgba(255, 255, 255, 0.79);font-size: 16px;font-weight: 600;text-transform: uppercase;
  line-height: 35px;letter-spacing: 0.5px;padding: 0.55em 1.5em;}
#mobile_menu ul.menu_hm>li>a:hover, #mobile_menu ul.menu_hm>li>a:active {color: white;}
#mobile_barmenu span {padding: 7px 22px;cursor: pointer;color: rgba(255, 255, 255, 0.79);}
#mobile_barmenu span:hover {color: white;}
#mobile_menu .navigation-toggle {position: absolute;top: 0;right: 0;text-align: center;vertical-align: middle;
  line-height: 1;transition: all .5s ease;cursor: pointer;padding: 0.88em 0.9em;
  border-left: 1px solid rgba(255, 255, 255, 0.08);background: transparent;color: rgba(255, 255, 255, 0.79);}

#mobile_menu .navigation-icon{display: inline-block;font-size: inherit;text-rendering: auto;
  text-decoration: none !important;position: relative;width: 6px;height: 6px;margin-top: 1px;border-left: 1px solid currentColor;
  border-top: 1px solid currentColor;transform: rotate(-135deg) translateY(50%); -ms-transform: rotate(-135deg) translateY(50%);
  -moz-transform: rotate(-135deg) translateY(50%);
}
#mobile_menu #page_hm { float: left; text-align:left; height: 4.3em; line-height: 4.3em; }
#mobile_menu #page_hm a span {padding: 22px 0; margin: 0 8px 0 7px}
@keyframes submenu-animation {
  from {
    transform: translateY(40px);
    -ms-transform: translateY(40px);
    -moz-transform: translateY(40px);
    visibility: visible;
    height: 0;
    opacity: 0;}
  to {visibility: visible;
    height: auto;
    transform: translateY(0px);
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    opacity: 1;}
}

#menu-cross {position: fixed;top: 30px;right: 30px;transform: rotate(45deg);-ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);z-index: 999900;cursor: pointer;width: 30px;height: 30px;}
#menu-cross:before {width: 22px;height: 2px;content: "";display: block;border-radius: 0;
  position: absolute;background: rgba(255, 255, 255, 0.99);}
#menu-cross:after {width: 22px;height: 2px;transform: rotate(-90deg);content: "";display: block;
  border-radius: 0;position: absolute;background: rgba(255, 255, 255, 0.99);}

/* mobile sub menu */
#mobile_menu ul.menu_hm li ul.menu_sm {transition: opacity .5s ease;margin: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.08);}
#mobile_menu ul.menu_hm li ul.menu_sm.is-open {display: block;}
#mobile_menu ul.menu_hm li ul.menu_sm li {margin-top: 0;margin-right: 5px;margin-bottom: 0;margin-left: 0;display: block;
  position: relative;width: 100%;border-bottom: 1px solid rgba(255, 255, 255, 0.08);}
#mobile_menu ul.menu_hm li ul.menu_sm li a {color: rgba(255, 255, 255, 0.79);display: block;width: 100%;
  padding: 9px 15px;font-size: 0.9em;line-height: 1.5;text-decoration: none;}
#mobile_menu ul.menu_hm li ul.menu_sm li a:hover {color: white;}
#mobile_menu ul.menu_hm li ul.menu_sm li a.active {color: white;}


/* výběrové podmínky */
#vyber {width:100%; font-weight:bold; color: black; font-size: 9pt;display:inline-flex; background-color: #cadfd9;
  height: 33px; line-height: 31px; position: absolute; }
#vyber label{  display: inline-block;background-color: rgba(255, 255, 255, .7);  color: #adadad;  border-radius: 25px;
  margin: 0 5px;  white-space: nowrap;  -webkit-touch-callout: none;  -webkit-user-select: none;  -moz-user-select: none;
  -ms-user-select: none;  user-select: none;  -webkit-tap-highlight-color: transparent;  transition: all .2s;  padding: 0 9px;
  cursor: pointer;  font-size: 10pt;}
#vyber label::before {display: inline-block;  font-style: normal;  font-variant: normal;  text-rendering: auto;
  -webkit-font-smoothing: antialiased; font-weight: 900;  font-size: 12px;  padding: 0 6px 0 1px;
  font-family: FontAwesome !important; content: "\f067";  transition: transform .3s ease-in-out;}
#vyber input[type="checkbox"]:checked + label::before {content: "\f00c";transform: rotate(-360deg);
  -ms-transform: rotate(-360deg); -moz-transform: rotate(-360deg); transition: transform .3s ease-in-out;}
#vyber input[type="checkbox"]:checked + label {background-color: #67827a;color: #fff;transition: all .2s;}
#vyber input[type="checkbox"] {position: absolute;opacity: 0;}


/* novinky */
#page_tm a.new, #page_hm a.new, #page_sm a.new { background-image: url(img/new.png);
  background-repeat:no-repeat; background-position: top right; }
#page_tm a.upd, #page_hm a.upd, #page_sm a.upd { background-image: url(img/upd.png);
  background-repeat:no-repeat; background-position: top right; }

/* odkazy pro admina */
#menu a.admin { background-color:#D1D6EC !important;}
#menu a.admin_active { background-color:#6470A7 !important;}
#menu a.admin:hover span { color:navy !important; }

/* ------------------------------------------------------------------------------ obsah */

/* odkazy */
div.text a span {
  /*background-color:#F5CF85;*/
  color:#67827a; text-decoration:underline; cursor:pointer }
div.text a span:hover {
  /*background-color:#B48933 !important;*/
  color:#EFFBDA !important; }

/* seznamy abstraktů */
div.abstrakt_foto { background-color:#cadfd9;  margin:0.5em; cursor:pointer; padding:.4em;  }
div.abstrakt_foto:after {content: ''; clear: both; display: block;} /*makes the div to stretch to contain floating children*/
a.abstrakt, div.abstrakt { background-color:white; margin:.3em; cursor:pointer; padding:.6em 1em; display:block;
  text-decoration:none; color: black; border-radius: 5px; -webkit-box-shadow: 0 0 24px 0 rgba(0,0,0,0.06);
  -moz-box-shadow: 0 0 24px 0 rgba(0,0,0,0.06); box-shadow: 0 0 24px 0 rgba(0,0,0,0.06); overflow: hidden; }
a.new { background-image: url(img/new.png); background-repeat:no-repeat; background-position: top right; }
a.upd { background-image: url(img/upd.png); background-repeat:no-repeat; background-position: top right; }
div.abstr a.abstrakt { height:11.2em; overflow:hidden; box-sizing: border-box;border-bottom: 11px solid white; }
.abstrakt h3 {margin: 0; font-size: 16px}
.abstr p {font-size: 11pt; margin-top: 2px; white-space: pre-wrap;
  overflow-wrap: break-word;}
/*a.abstrakt:hover, div.abstrakt:hover { background-color:#fff4de !important; color:#130D00 !important; }*/
a.abstrakt_hidden { background-color:silver }
a.abstrakt_deleted { background-color:silver; border:5px solid black;}
span.akce_datum {border-radius: 5px; float: left;}
.abstr b {float:left; clear:both;}
.abstr-line span.akce_datum {float: none; display: block;}



/*page akce layout*/
.akce_container {display: flex; flex-direction: row;}
.akce_summary {flex: 1 1 0; padding: 60px 10px;}
.akce_content {flex: 8 1 0}
.akce_rok {display: block; text-decoration: none; color: #84888d; padding:0; transition: color 0.2s, padding 0.2s;}
.akce_rok:hover {color: rgba(177, 57, 57, 0.64); padding: 6px 0; }
.akce_rok:hover .akce_rok_title {font-size: 21pt; }
.akce_rok:hover .akce_rok_text {font-size: 11pt; }

.akce_rok_active {padding: 10px 0 !important; color: #b13939 !important;}
.akce_rok_active .akce_rok_title {font-size: 25pt !important; }
.akce_rok_active .akce_rok_text {font-size: 13pt !important; }
.akce_rok_title {display: block;font-size: 18pt; font-weight: 600; transition: font-size 0.2s;}

.akce_rok_text {display: block;font-size: 10pt; transition: font-size 0.2s  ;}

/*page akce details*/
.akce_prehled_title_watermark {font-weight: bolder;
  opacity: 0.3;
  font-size: 1000%;
  position: absolute;
  transform: translate(-155px, -112px);}
.akce_prehled_title {

}

.akce_calendars_design { display: flex; flex-direction: column; flex:1 1 0; background: black; }

.akce_calendar_title {
color: white;
  flex: 4 1 0;
  text-align: right;
  line-height: 100%;
  vertical-align: bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 20px;
}

.akce_calendar_year {
color: white;
  flex: 1 1 0;
  border-top: 6px solid white;
  text-align: right;
}
.abstrakt_separator {
  height: 75%;
  background: white;
  width: 2px;
  margin: 5% 0;
}
.akce_calendars_outer {display: flex;}
.akce_calendars_year_watermark {
  font-weight: bolder;
  font-size: 1000%;
  margin-left: 0.3em;
  margin-bottom: 40px;
  margin-top: 5px;
  line-height: 130px;
  color: white;
}

.akce_calendars {text-align: right;
  flex:8 1 0;

  background: black;
}
.akce_calendars .text {
  text-align: left;
}
.akce_calendars div.abstr {
  align-items: center;
  display: flex;
  min-height: 100%;
  height: 100%;}
.akce_calendars .abstrakt { background: black; color: white; box-shadow: none; margin: .2em .1em;
  padding: 0; vertical-align: center; border: none!important;}
.abstrakt_calendar_title {
  padding: 5px;
  color: white;
  text-align: left;
  font-weight: bold;
}
.abstrakt_calendar_paragraph {
  padding: 0 .4em;
}



/*notices*/
.notif_event_container h2 { margin: 5px 0 3px 13px;font-size: 14pt;font-weight: 400;}
.notif_event_container {  margin: 5px 25px;  background: #fafafa60; border: 1px solid #dcdcdc;}
.abstrakt.notif_event {width: fit-content; vertical-align:top; background: transparent; display: inline-block;
  padding: 0.6em 2.5em; box-shadow: none; font-size: 11pt;}

/*masonry layout*/
.masonry_container {column-count: 3;column-gap: 1em;}
a.short_post, div.short_post { font-size: 11pt !important; width: 95%; display: inline-block; margin: 0 0 1em;
  text-overflow: ellipsis; overflow: hidden; text-align: justify;}
.short_post img {max-width: initial !important; width: 100% !important;
  width: calc(100% + 1.2em) !important; margin: -0.6em !important; margin-bottom: 5px !important;
  /*! values of em are depentent on padding of classes a.abstrakt, div.abstrakt !*/ }
.short_post h1, .short_post h2, .short_post h3 {display: none}
.short_post a, .short_post u, .short_post b, .short_post strong{text-decoration: none; font-weight: normal}

.post_title { margin: 12px; font-size: 16pt; float: left }
.post_date { float: right}
.post_date:before { content: "\f073";font-family: FontAwesome, serif;color: #8a8a8a;padding-right: 0.5em;}

/* abstrakty */
div.abstr { display:inline-block; vertical-align:top; }
div.mini { float:left; width:8em; height:8em; background-repeat:no-repeat; background-position:center; margin-right: 8px;}

/* help */
div.help { background-color: white; margin: 0.5em; cursor: pointer; display: block; padding: 1em;
  text-decoration: none; color: black;border-radius: 5px;-webkit-box-shadow: 0 0 24px 0 rgba(0,0,0,0.06);
  -moz-box-shadow: 0 0 24px 0 rgba(0,0,0,0.06);box-shadow: 0 0 24px 0 rgba(0,0,0,0.06);overflow: hidden; }
span.input { font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;background-color: #eff0f1;
}

/* vlákno */
div.vlakno { clear:both; }
div.text { padding: .4em .7em; border-radius: 5px; background-color: white; }

/* fotky */
/*span.foto { width: 80px; height: 80px; overflow: hidden; display: inline-block; }*/
span.foto { width:80px; max-height:80px; overflow:hidden; display:inline-block;
  background-repeat:no-repeat; background-position:center; }
span.foto_cms { height:80px; }
div.drop_back { z-index:2; background-color:#c9d5e5; opacity:.7; }
div.drop_foto { z-index:3; margin:2px; width:76px; height:76px; outline:2px dashed #fff; display:table }
div.drop_foto span { display:table-cell; text-align:center; vertical-align:middle; }
#popup_div>img { max-width:100%; margin:0; }
.fotorama .foto_text { font-size: 1em; line-height:8vw; text-align:center; height:100%; padding-top:25%;  }
.fotorama__caption  { text-align:center; bottom: 1vw !important; }
.fotorama__caption__wrap { background:#fff4de !important; color:black; font-weight:bold; border-radius: 2vw; }

/* organizér fotek */
span.drop { margin: 1px 2px 1px 1px; }
ul.foto { display:inline; padding: 0; }
li.foto { width:80px; height:80px; overflow:hidden; display:inline-block; cursor: move;
  background-repeat:no-repeat; background-position:center; vertical-align:middle;
  border: 1px solid #cadfd9; margin: 2px 1px 2px 0; }
li.foto[data-checked='true'] { border: 1px solid red !important; }
li.foto[data-checked='false'] { border: 1px solid #cadfd9 !important; }
li.foto div { background: #cadfd9; text-align: center; width: 80px; }
li.foto input { float:left; margin:0; }
li.foto input:focus { outline:none; }

/* skupiny */
.skupiny_container {max-width: 100%; overflow-x: auto;}
table#skupiny { margin: 0 auto; padding: 0.2em; border: 1px solid; }
table#skupiny th { border-bottom: 3px solid; min-width:8em; }
table#skupiny input { width:100%; }

/* galerie */
div.galerie { overflow:hidden; padding-bottom: 15px; margin-bottom: 30px; }
div.galerie span.datum { position: absolute; top: 0; left: 0; }

/* článek */
div.clanek {  overflow:hidden; margin:0.5em 0; position:relative; }
.mediaqueries div.clanek { /*todo*/ }
span.datum { background-color:#f2f2f2; color:#130D00; padding: 2px 5px; border-radius: 5px; border: 1px solid #e6e6e6}
div.clanek span.datum { position: absolute; top: 0; left: 0; }
div.podpis { text-align:right; font-style:italic; clear:both; padding: 0 15px 10px 0}
div.new { background-image: url(img/new.png); background-repeat:no-repeat; background-position: top right; }
div.upd { background-image: url(img/upd.png); background-repeat:no-repeat; background-position: top right; }
#list {max-width: 1248px; margin: 0 auto; padding-bottom: 30px;}

/* knihy */
div.kapitola  { background-color:#FFF4DE; color:#130D00; overflow:hidden; margin:0.5em; position:relative; }
div.kniha_hr { clear:both; padding:1em 0; text-align:center; cursor:pointer; }
div.kniha_br { clear:both; padding:1em 0; text-align:center; }
div.kniha_bg { background: #ccd2d9; padding:1em 0; margin:1em 0; }
/*div.timeline_bg {background: #ccd2d9;}*/
.mediaqueries div.kniha_bg div.clanek { column-rule:1em solid #6470A7; -moz-column-rule:1em solid #6470A7; }
a.kniha_bg { clear:both; display:block; text-decoration:none; }
.mediaqueries a.kniha_bg div.clanek { column-rule:1em solid #6470A7; -moz-column-rule:1em solid #6470A7; }
div.kniha_bg div.new, div.kniha_bg a.new { background-image: url(img/new.png); background-repeat:no-repeat; background-position: top right; }
div.kniha_bg div.upd, div.kniha_bg a.upd { background-image: url(img/upd.png); background-repeat:no-repeat; background-position: top right; }

/* seznam akcí (bylo smazáno, design změněn) */
/*a.kniha_timeline { color: black;}*/
/*div.kniha_timeline_text {margin-left: 15%;border-left: 13px solid #bfc4cb;padding: 20px 34px;color: black;font-weight: bold;}*/
/*span.kniha_timeline_date {width: 50px;height: 50px;background: #f2f2f2;color: black;position: absolute;transform: translate(-67px, -15px);*/
/*  border-radius: 30px;border: 1px solid black;text-align: center;line-height: 50px;}*/
/*div.kniha_timeline_text_open_front {margin-left: 15.5%; padding: 12px 12px 22px 52px; color: black;font-weight: bold; margin-top: 8px; }*/
/*div.kniha_timeline_text_open_back {margin-left: 15.5%; padding: 0 22px 12px 54px; color: black;font-weight: bold; margin-top: 16px;}*/
/*span.kniha_timeline_date_open {width: 60px;height: 60px;background: #f2f2f2;color: black;position: absolute;transform: translate(-85px, -29px);*/
/*  border-radius: 50px;border: 2px solid black;text-align: center;line-height: 60px;}*/


/*tooltip */
.tooltip {
  position: relative;
}
.tooltip .tooltip-text {
  visibility: hidden;
  width: fit-content;
  background-color: #f3f3f3;
  color: #2b2b2b;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #e8e8e8;
  padding: 5px 5px;
  position: absolute;
  z-index: 999;
  margin-left: 5px;
  margin-top: 8px;
  font-family: 'Open Sans', sans-serif;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}

/* fotogalerie */
div.fotorama__wrap {margin: 0 auto;}/*dirty but necessary - styling foreign element*/

/* ----------------------------------------------------------------------------- home page */

b.home { text-shadow: 3px 3px 3px #000; padding-left:.8em; }

#home_akce {width: 100%; display:inline-block; }
div.home_akce>b { color:#cadfd9; }
div.home_akce { }

#home_telo {width: 100%; }

#home_info {width: 100%; display:inline-block; }
div.home_info {  }
div.home_info>b { color:#cadfd9; }

/* ------------------------------------------------------------------------------ timeline */

#timeline {list-style: none; padding: 0; margin: 0;
  min-width: 100%;}
.horizontal_scroll  {overflow-x: scroll; overflow-y: hidden;}
#timeline li { vertical-align: middle;}
#timeline li .relative {position: relative;}
#timeline p {margin: 0 0 15px;}
#timeline_header {list-style: none;width: 100%;height: 20px;margin: 0;padding: 0;white-space: nowrap;overflow: hidden;
  display: table; margin-bottom: 15px;}
#timeline_header > li {position: absolute;display: initial;width:70px;height: 100%; z-index: -1}
#timeline_header > li:before {content: '';border-left: 1px dashed #ccc;position: absolute;height: 1000vh;
  transform: translate(0, 23px); }
.timeline_date {text-align: center;top: 15px;left: 5px;right: 0;font-size: 0.95em;line-height: 20px;position: absolute;
  z-index: 2;width: 80px; border-radius: 50%; padding: 2px; display: none}
.timeline_text {width: 100%; max-width: 400px;display: none; left: 40px; white-space: initial;
  transition: width 0.4s linear, max-height 0.4s linear;border-radius: 0.5em;background: white;position: absolute;}
.timeline_text .timeline_text_style {max-height: 0;color: transparent;text-align: justify;word-break: break-word;hyphens: auto;overflow: hidden;}
.timeline_circle {height: 20px; padding: 1px 4px; font-size: 15px; margin-bottom: 5px;
  display: block; cursor: pointer !important; width: fit-content; width: -moz-max-content;
  white-space: nowrap; }
.timeline_bar{display: block;height: 5px;border-radius: 2.5px;border: 1px solid #a4a4a4;transform: translate(0px, -32px);
  z-index: 5}
.timeline_radio {display: none}
.timeline_text_style a, .timeline_text_style u {text-decoration: none; color: black}
.timeline_text_style img, .timeline_text_style h1 {display: none}

.timeline_radio:checked + .timeline_circle {background: #ffffff}
.timeline_radio:checked + .timeline_circle .timeline_text  {display: block ;max-height: initial; z-index: 5; padding: 15px 15px 15px;
  -webkit-box-shadow: 0 0 24px 0 rgba(0,0,0,0.1); -moz-box-shadow: 0 0 24px 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 24px 0 rgba(0,0,0,0.1);}
.timeline_radio:checked + .timeline_circle .timeline_text .timeline_text_style {max-height: initial; color: black; max-width: 60vw;}

/* legenda */
.legend {border-radius: 7px; border: 1px solid #a9a9a8; background: #dddddd; line-height: 25px; margin: 0 5px 25px 5px ;padding-left: 10px; padding-bottom: 5px;}
.timeline_legend {width: 25px;height: 5px;border-radius: 3px;display: inline-block;margin: 10px 35px 0 0;}
.barva_legend {padding: 0 6px; text-align: center}
/* ----------------------------------------------------------------------------- dům */

/* popis */
#pokoje { clear:both; position:relative }
div.pokoje { color: black; overflow:hidden; margin:0.5em; position:relative; }
div.pokoje span.datum { position: absolute; top: 0; left: 0; }
span.mesic { background-color:#B48933; color:#EFFBDA; font-weight: bold; }

/* tabulka */
table.dum  { border-collapse: collapse; empty-cells: hide; width: 100%;min-width: 900px; }
table.dum td { min-width:1.2em; text-align: center; }
table.dum, table.dum tr, table.dum td {border: none}

table.dum td {padding: initial; padding-top: 2px;}
.months-row {overflow-x: scroll;display: flex;}
table.dum td.room:hover { background-color:white; color:black; border: 1px solid; box-sizing: border-box }
table.dum td.obsazen:hover, table.dum td.sent:hover { background-color:black !important; color:white; }
table.dum td.room { background-color: black;  font-weight: bold; color: white; cursor: pointer; }
table.dum td.pozn { text-align: left; border-left: 2px solid; padding-left: 3px; background: #f1f1f1}
table.dum td.pozn.odd { background-color: #ffffff;}
table.dum td.pozn_weekend { background-color: #acbfd8; text-align: left; border-left: 2px solid; padding-left: 3px;}
table.dum td.pozn_weekend.odd {background-color: #c5dcf8;}
table.dum td.datum { text-align:right; width:3.2em; padding-right: 4px; background: #f1f1f1}
table.dum td.datum.odd {background-color: #ffffff; }
table.dum td.datum_weekend { background-color: #acbfd8; width:3.2em; text-align:right; padding-right: 4px; }
table.dum td.datum_weekend.odd {background-color: #c5dcf8;}
table.dum img { margin:-2px; }

.ordersSelectedDay {-moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4); -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);}

table.dum tr.header1 {border-bottom: 3px solid; border-top: 3px solid}
table.dum tr.header1.odd {}
table.dum tr.header2 {border-bottom: 1px solid; border-top: 1px solid}
table.dum tr.header2.odd {}

table.dum .order_section {width: 2em;}
table.dum .datum_plno, .obsazeno { background-color: #b47671; }
table.dum .datum_prazdno, .volno { background-color: #8cb082; }
table.dum .datum_poloplno, .konflikt { background-color: #e1d52f; }
table.dum .datum_plno.odd, .obsazeno.odd { background-color: #da9088; }
table.dum .datum_prazdno.odd, .volno.odd { background-color: #a9d49d; }
table.dum .datum_poloplno.odd, .konflikt.odd { background-color: #ece680; }
table.dum td.sent { cursor:pointer; }
table.dum td.nic { width:1.4em; background: #f1f1f1}
table.dum td.nic.odd {background-color: #ffffff; }
table.dum td.obsazen { width:1.4em; background: #f1f1f1}
table.dum td.obsazen.odd {background-color: #ffffff; }
td.month_day {max-width: 18px; text-align: right; }

/*overriding cms_form class styles from ezer/client*/
div.cms_form > div {padding: initial !important;}
div.cms_form > span {background-color: white !important; color: black !important; border-radius: 0 !important;}
div.cms_form > div div label {color: #2b2b2b !important;}
div.cms_form > div div button {margin-top: 5px;}

button .setkani_padding {padding-top: 5px;}

.order_popup {position: fixed;left: 50% !important;top: 50% !important;margin-top: -250px !important;
  margin-left: -375px !important;width: 720px !important; height: fit-content !important; background: white !important;
  color: #000000  !important;max-height: 500px; padding: 2em 1em 1em 1em;
  box-shadow: #000000 4px 6px 20px !important;z-index: 100; overflow-y: scroll; border-radius: 7px !important;}
.order_popup > span { position:absolute; top:0; left:0; width:100%; text-align:center; height:2em;
  font-weight:bold;line-height:22pt;margin-top: 10px; font-size: 14pt;}
.order_popup span.choose { background:black; color:white;}
.order_popup > div { top:2em; height:100%;  }
.order_popup table>tbody>tr>td {height:100%; vertical-align: initial; }
.order_popup label { display:inline-block; font-size:small; }

.order_popup input[type=text], .order_popup input[type=number], .order_popup select, .order_popup textarea
{ width: 100%;padding: 4px 14px;margin: 4px 0;display: inline-block;
  border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;}
.order_popup input[type=date] {border: 1px solid #ccc;  border-radius: 4px; max-width: 160px; padding: 2px 6px;}
.order_popup select {font-size: 12pt;}
.order_popup input[type=submit] {width: 100%;background-color: #5a6361;color: white;padding: 14px 12px;
  margin: 8px 7px;border: none;border-radius: 4px;cursor: pointer; }

.order_popup input[type=submit]:hover {background-color: #45a049;}

/*special span that refused to be above the input field*/
.order_popup label.span_above {margin-top: 20px; margin-right: 12px;}
.order_popup label.span_above span { position: absolute;margin-top: -18px; font-size: 11pt;}
#obj_cely_dum_check {vertical-align: super; margin: 0 7px 0 5px;}
.order_error_msg {color: #c12525; font-size: 10pt;margin-bottom: 10px;}
#error_price {color: brown;}

#order #order_div .order_left_td {padding-right: 12px; max-width: 720px;}

label.form_button {float: right}
#label_close_button {float: right}

/* ====================================================================== non responsive design */

.no-mediaqueries #info::before { content:"?"; }
/* omezení šířky */
.no-mediaqueries #web {width:100%; max-width:70em; margin:auto; }
.no-mediaqueries #logo_setkani { position:absolute; margin: 0 0 0 120px !important; top: 100px; left: 8vw; width: 120px; }
.no-mediaqueries #logo_ymca { position:absolute; margin: 0 0 0 230px !important; top: 100px; left: 6vw; width: 140px; }
/* home page na na šířku */

.no-mediaqueries #cist_dole { display:none; }
/* velká tlačítka */
.no-mediaqueries #page_sm span.label { padding-top:0.4em; }
/* větší písmo menu */
.no-mediaqueries #menu div, #menu span, #menu input {font-size:10pt; }
/* abstrakty */
.no-mediaqueries div.abstr { margin-right:.5em; }

.no-mediaqueries .mobile_nodisplay {display: none;}

/* ========================================================================== responsive design */

/* -------------------------------------------------------------------------- MV mobil na výšku */

@media all and (max-width:30em) {
  #info::before { content:"mobil portrait"; }
  #logo_setkani { position:fixed; top: 15px; left: 55px; width: 35px; z-index: 10; filter: brightness(0.4); }
  #logo_ymca { position:fixed; top: 15px; left: 10px; width: 35px; z-index: 10; }
  #bar_image {color: rgba(0, 0, 0, 0.82);}

  #web {padding-top: 30px;}
  /*menu*/
  #bar_menu {padding-right: 9px;}
  #bar_menu>i {font-size: 18px;}
  #menu {position: fixed; top: 0; z-index: 9; background: #ffffff3d;}
  #menu a span {padding: 12px 7px;font-size: 16px; vertical-align: super;}
  #menu div, #menu span, #menu input {font-size: 11pt; }
  #menu #bar_items a.active { border-bottom: none; border-left: 13px solid #cadfd9; }
  .header-search input#search  {width: 160px;}
  .header-search .search-form {width: 185px;}

  #vyber {height: initial; margin-top: 51px; background: none;}

  a.abstrakt, div.abstrakt {margin: 0.3em 0;padding: .6em 0.5em;}
  .notif_event_container {  margin: 5px 12px; }
  .abstrakt.notif_event {padding: 0.6em 0.8em;}

  /*login*/
  div#user_login, div#user_mail {  padding:1em 2em; }
  div#user_login input, div#user_mail input { width:12.5em; }
  div#user_mail div {width: 12em; margin-top: 2em; height: auto}
  div#login_err { margin-top: 25px;}

  /* home page na na výšku */
  #facebook_content {width: 300px; padding-top: 80px; }
  #facebook_content.content {padding-left: 0;     max-width: 90%;overflow-x: auto; }

  #facebook_content:before {transform: translate(00px, -70px);}
  .masonry_container { column-count: 1;}

  div.pquote {padding: 30px 10px;margin: 0; max-width: 65%;}
  div.pquote:before {bottom: -27px;}
  div.pquote:after {top: -3px;}

  /*H tags management*/
  #vlakno h2.vlakno-title {
    margin-top: 15px;
    font-size: 17pt;
    margin-left: 0.8em;
    margin-bottom: 5px;
  }
  #vlakno h2.vlakno-titler {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 17pt;
    margin-left: 0.8em;
  }
  #vlakno h2 {
    font-size: 14pt;
  }
  #vlakno h3 {
    font-size: 13pt;
  }

  div.notice_style {padding: 50px 10px 15px 10px;margin: 0;}
  div.clanek { margin: 0.5em 0; }
  div.text {padding: 0.4em 0.7em}
  #web .clanek .text img { margin: 0;}
  .clanek span.cms_form { font-size: 12pt !important; line-height: 12px; }
  .abstrakt span.cms_form { margin-right: 0; }
  #page {padding-top: 18px;}

  /*todo delete?*/#cist_dole { display:block; }
  #list {padding: 0;}
  .content {padding: 0 12px;}
  /*popup*/
  #popup {width: 80vw; margin-left: -45vw; height: 80vh; margin-top: -40vh;}
  .order_popup {width: 80vw !important; margin-left: -45vw !important; height: 80vh !important; margin-top: -40vh !important;}
  .order_popup table tr td {display: block;}
  .order_right_td {margin-top: 25px;}
  #user_msg { width: 73vw;margin-left: 0;left: 5vw;}
  #user_msg div{margin-top: 2.3em}
  /* abstrakty */
  div.abstr { width:100%; }
  .abstr-fotogalerie {width:100%; }
  .akce_calendars_outer { flex-direction: column;}
  .akce_container {
    flex-direction: column;
  }

  .akce_summary {padding-top: 0;}

  .akce_rok {display: inline-block;  padding:8px 4px; transition: color 0.2s, padding 0.2s;}
  .akce_rok:hover { padding: 0 6px; }
  .akce_rok:hover .akce_rok_title {font-size: 21pt; }
  .akce_rok:hover .akce_rok_text {font-size: 11pt; }

  .akce_rok_active {padding: 0 10px !important;     vertical-align: sub; }
  .akce_rok_active .akce_rok_title {font-size: 25pt !important; }
  .akce_rok_active .akce_rok_text {font-size: 13pt !important; }




  /*footer*/
  .footer .tile {display: block; padding: initial; margin: 0 auto; }
  .footer hr.footer-hr {display: none}
  .footer #footer-left-part {min-width: initial;}
  .footer #footer-right-part {width: fit-content; display: block; }
  .footer p.image-align-center {width: auto;}
  .footer #footer-right-part a {vertical-align: middle;}


  .mobile_nodisplay {display: none !important;}
  .mobile_portrait_nodisplay {display: none !important;}
  h1, .mobile_text_shadow {text-shadow: #ffffff 1px 0 16px; filter: drop-shadow(0px 0 2px white);}
  .commentary_div {background-color: #f2f2f2aa; padding: 10px 20px;}
}

/* -------------------------------------------------------------------------- MŠ mobil na šířku */

@media all and (min-width: 30em) and (max-width: 685px) {
  #info::before { content:"mobil lanscape"; }
  #web h1#ymca_setkani { font-size: 11pt; }

  #logo_setkani { position:fixed; top: 10px; left: 70px; width: 50px; z-index: 10; filter: brightness(0.4); }
  #logo_ymca { position:fixed; top: 10px; left: 10px; width: 50px; z-index: 10; }
  #web {padding-top: 30px;}

  #bar_image {color: rgba(0, 0, 0, 0.82);}
  #bar_menu {padding-right: 9px;}
  #menu {position: fixed; top: 0; z-index: 9; background: #ffffff3d; }
  #menu div, #menu span, #menu input {font-size: 12pt;}
  #vyber {margin-top: 54px; background: none;}
  #page {padding-top: 18px;}

  div.text {
    padding: .4em .7em;
  }

  /* home page na na šířku */
  #cist_dole { display:none; }
  /* velká tlačítka */
  #page_sm span.label { padding-top:0.4em; }
  .masonry_container { column-count: 2;}
  #facebook_content {width: 300px; padding-top: 80px; padding-right: 40px;}
  #facebook_content:before {transform: translate(00px, -70px);}

  #list {padding: 0;}
  .iframe_outer {padding-top: 56%;}
  .iframe_inner {left: 0;}

  /*H tags management*/
  #vlakno h2.vlakno-title {
    margin-top: 22px;
    font-size: 20pt;
    margin-left: 0.8em;
  }

  #vlakno h2.vlakno-titler {
    margin-top: 22px;
    font-size: 22pt;
    margin-left: 0.8em;
  }
  #vlakno h2 {
    font-size: 15pt;
  }
  #vlakno h3 {
    font-size: 14pt;
  }

  /*popup*/
  #popup {width: 80vw; margin-left: -40vw; height: 80vh; margin-top: -40vh;}
  .order_popup {width: 80vw !important; margin-left: -43vw !important; height: 80vh !important; margin-top: -42vh !important;}
  .order_popup table tr td {display: block;}
  .order_right_td {margin-top: 25px;}

  /*footer*/
  .footer hr.footer-hr {display: none}
  .footer #footer-left-part {width: 100%; min-width: auto;}
  .footer #footer-right-part {width: fit-content; display: block; }
  .footer p.image-align-center {width: auto;}
  .footer #footer-right-part a {vertical-align: middle;}

  /* abstrakty */
  .notif_event_container {  margin: 5px 12px; }
  .abstrakt.notif_event {padding: 0.6em 0.8em;}
  div.abstr { width:100%; }
  div.abstr a.abstrakt{height: 8.8em}
  .abstr-fotogalerie {width:46%; padding: 0 1% }
  .akce_calendars_outer { flex-direction: column;}

  .mobile_nodisplay {display: none !important;}
  h1, .mobile_text_shadow {text-shadow: #ffffff 1px 0 16px;filter: drop-shadow(0px 0 2px white);}
  .commentary_div {background-color: #f2f2f2aa; padding: 10px 20px;}
}

/* -------------------------------------------------------------------------- T tablet */

@media all and (min-width:686px) and (max-width:900px) {
  #info::before { content:"tablet"; }
  #titler {right: 50vw}
  #logo_setkani { position:absolute; margin: 0 0 0 120px !important; top: 130px; right: 72vw; height: 80px }
  #logo_ymca { position:absolute; margin: 0 0 0 230px !important; top: 26px; right: 72vw; height: 80px; }
  .iframe_outer {padding-top: 40%;}

  #menu #page_hm {
    line-height: 4.35em;
  }
  /*homepage changes*/
  #facebook_content {width: 632px; padding-top: 80px; padding-left: 15px;}
  #facebook_content:before {transform: translate(0, -70px);}
  .masonry_container { column-count: 2;}
  /*footer*/
  .tile {width: 160px;}
  #site_signature {padding-top: 20px;}
  .footer #footer-left-part {width: 100%; min-width: 540px;}
  .footer #footer-right-part {width: fit-content; display: block; }
  .footer p.image-align-center {width: auto;}
  .footer #footer-right-part a {vertical-align: middle;}
  .footer #footer-right-part p {width: auto;}

  /*popup*/
  #popup {width: 80%; margin-left: -40%; }
  .order_popup {width: 80%; margin-left: -40%; height: 80vh; top: 20px;margin-top: 0;}
  .order_popup table tr td {display: block;}
  .order_right_td {margin-top: 25px;}

  /* home page na na šířku todo delete? there is a comment in the template so I will know whether this section is kept or not */
  #cist_dole { display:none; }
  /* velká tlačítka */
  #page_sm span.label { padding-top:0.4em; }
  /* větší písmo menu */
  #menu div, #menu span, #menu input {font-size: 10pt; }
  /* abstrakty */
  div.abstr { width:50%; }
 .akce_calendars_outer { flex-direction: column;}
  .abstr-fotogalerie {width:30%; padding: 0 0.5% }
  .commentary_div {
    padding-left: 18px;
    padding-right: 18px;
  }

  div.text {
    padding: .4em 1.2em;
  }

  h1 {
    margin-left: 1em;
  }

  #order #order_div .order_left_td {width: 390px;}
  .pc_nodisplay {display: none;}
}

/* -------------------------------------------------------------------------- PC velká obrazovka */

@media all and (min-width: 900px) {
  #info::before { content:"desktop"; }
  /* omezení šířky */
  #logo_setkani { position:absolute; margin: 0 0 0 120px !important; top: 130px; right: 72vw; height: 80px }
  #logo_ymca { position:absolute; margin: 0 0 0 230px !important; top: 26px; right: 72vw; height: 80px; }
  /* home page na na šířku */
  #cist_dole { display:none; }
  /* velká tlačítka */
  #page_sm span.label { padding-top:0.4em; }
  /* větší písmo menu */
  #menu div, #menu span, #menu input { font-size: 14px; }
  #page_hm {padding-left: 19px;}
  /* abstrakty */
  div.abstr { width:33.3%; }
  .akce_calendars div.abstr { width: 50%; }
  .footer #footer-left-part {width: 75%;}

  .header-search {
    margin-left: 12px;
  }

  #order #order_div .order_left_td {width: 390px;}
  .pc_nodisplay {display: none;}

}

@media all and (min-width: 1400px) {
  #page_footer_info {
    background-size: contain;
  }
}